*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #262a2f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
    padding: 25px 35px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container input{
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container .Generate-btn{
    width: 100%;
    height: 50px;
    background:#494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

#imgBox{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: none;
    gap: 80px;
}

#imgBox img{
    width: 250px;
    padding: 10px;
}

#imgBox.show-img{
    display: flex;
    border: 1px solid #d1d1d1;

}
#exit-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color:white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
}
#exit-btn svg{
    width: 45%;
}
#exit-btn svg path{
    fill: red;
}
#exit-btn:hover{
    transform: scale(1.2);
}
.download-btn{
    padding: 10px 15px;
    background-color: #494eea;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.download-btn:hover{
    background-color: #6c71ff;
}
.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}